.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fullscreen {
    height: 100vh;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #e5e7eb;
    border-top: 5px solid #2563eb;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}